@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-sidebar-bg: #22577A;
  --color-content-bg: #e2e8f0;
  --color-content-font: #1f2937;
  --color-accent: #10B981;
  --color-white: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "MuseoModerno", sans-serif;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.sidebar {
  background-color: var(--color-sidebar-bg);
  color: var(--color-white);
  grid-column: 1;
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 50px;
  padding: 20px;
  white-space: nowrap;

  & li,
  h1 {
    margin: 0;
    display: grid;
    grid-template-columns: min-content min-content;
    align-items: center;
    gap: 20px;
  }

  & h1 {
    font-size: 2.4rem;

    & span {
      font-size: 4rem;
    }
  }

  & ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    & li {
      font-size: 1.6rem;
      font-weight: 600;
      margin-bottom: 20px;
      margin-left: 20px;
    }
  }
}

.header {
  background-color: var(--color-white);
  padding: 10px 60px 20px 40px;
  display: grid;
  grid-template: 1fr 1fr / 2fr 1fr;
  align-items: center;
  gap: 30px;

  & .searchbar {
    padding: 10px;
    display: grid;
    justify-items: center;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 20px;

    & input {
      width: 100%;
      height: 36px;
      border: none;
      border-radius: 16px;
      background-color: var(--color-content-bg);
      justify-self: start;
      padding: 8px 12px;
    }

    & span {
      font-size: 1.6rem;
    }
  }

  & .user-panel {
    display: grid;
    justify-self: end;
    grid-template-columns: repeat(3, min-content);
    align-items: center;
    gap: 40px;

    & img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }

    & p {
      white-space: nowrap;
      font-size: 1.5rem;
      font-weight: 700;
    }

    & span {
      font-size: 1.6rem;
    }
  }

  & .user-greeting {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 5px 20px;

    & img {
      width: 80px;
      height: 80px;
      border-radius: 50%;

      grid-row: 1 / 3;
    }

    & p,
    h2 {
      margin: 0;
    }

    & p {
      align-self: end;
      font-weight: 600;
      font-size: 1.1rem;
    }

    & h2 {
      font-size: 1.8rem;
    }
  }

  & .user-actions ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;

    & li {
      background-color: var(--color-sidebar-bg);
      color: var(--color-white);
      font-size: 1.3rem;
      font-weight: 600;

      width: 140px;
      height: 50px;
      border-radius: 30px;

      display: grid;
      place-items: center;
    }
  }
}

.content {
  background-color: var(--color-content-bg);
  color: var(--color-content-font);
  width: 100%;
  height: min-content;
  grid-column: 2 / 3;
  display: grid;
  grid-template: 1fr 1fr / 3fr 1fr;
}

.projects {
  grid-row: 1 / 3;

  & div {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
  }
}